  .mensaje {
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    margin: 5px 5px 10px 5px;
    color: rgb(255, 254, 254);
    width: 75%;
    box-shadow: 1px 1px 1px rgb(112, 112, 112);
    font-size: 1em;
  }
  
  .izquierda {
    float: left;
  }
  
  .derecha {
    float: right;
  }
  
  .emisor {
    color: gray;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .texto {
    color: black;
  }
  

  .en-lista {
    display: list-item;
  }
  
  ion-list {
    background-color: #e5ddd5;
    padding: 10px;
  }

  .time {
    color: gray;
    font-size: smaller;
    text-align:right;
    margin-top: auto;
  }

.hide {
  display: none;
  //position: absolute; left: -9999px;
}

.escribir {
  border-radius: 50px;
}

.avatar {
  display: flex;
  justify-content: flex-end;
  margin-top: -45px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.title{
 margin-top: 30px;
}
.icon {
  display: flex;
  justify-content: flex-start;
}